[docs] Clarify signed key requirements

<!--- Please leave this line, it helps our automation: [issue-type:enhancement] --->
<!--- Please keep this note for the community --->

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interested in working on this issue or have submitted a pull request, please leave a comment. If the issue is assigned to the "modular-magician" user, it is either in the process of being autogenerated, or is planned to be autogenerated soon. If the issue is assigned to a user, that user is claiming responsibility for the issue. If the issue is assigned to "hashibot", a community member has claimed the issue already.

<!--- Thank you for keeping this note for the community --->

### Description

Documentation pages for [google_compute_backend_bucket_signed_url_key](https://www.terraform.io/docs/providers/google/r/compute_backend_bucket_signed_url_key.html#key_value) and [google_compute_backend_service_signed_url_key](https://www.terraform.io/docs/providers/google/r/compute_backend_service_signed_url_key.html#key_value) provide an example key value as `key_value = "pPsVemX8GM46QVeezid6Rw=="`, while saying 

> 128-bit key value used for signing the URL. The key value must be a valid RFC 4648 Section 5 base64url encoded string. 

The `base64url` is confusing because the `random` provider's  [random_id](https://registry.terraform.io/providers/hashicorp/random/latest/docs/resources/id) result `b64_url` attribute would create `pPsVemX8GM46QVeezid6Rw` (without the equal signs), while `b64_std` would actually generate the needed format, exactly as in the example above.

Also, I think it would be great if the example would include the random-based value, rather than hard-coding a string:

```hcl
resource "random_id" "url_signature" {
  byte_length = 16
}

resource "google_compute_backend_service_signed_url_key" "backend_key" {
  name            = "test-key"
  key_value       = random_id.url_signature.b64_std
  backend_service = google_compute_backend_service.example_backend.name
}
```


@megan07 thanks for creating a fix!  I was just looking at it again, and from my recent implementation, I suspect the `b64_std` is actually an error -- please double check.  The `b64_std` could include the `+` and `/` symbols. The `b64_url` is part of the newer standard that replaces them with `-` and `_`.  The **optional** part of the standard is that it no longer requires padding the value with the `=` symbols, and I suspect `b64_url` removes those.  I am not sure if GCP requires that padding or not.

Hi @nyurik!  So sorry for the delay, great catch! Thank you! I'm fixing it now.