Same problem here, the wrong IP is taken from the range.
The Google API supports setting this, as well as the UI and gcloud.

Why is that rated as an enhancement? From a network perspective and also following the Google docs taking the network address is plain wrong.
A /30 network is defined to have exactly 2 usable IP addresses for the router interface and it's peer.

Not entirely sure what changed, but I just set it up and it seems to work this way:

`hashicorp/google v3.67.0`

Knowing we are going to use the `169.254.0.8/30` range, the interfaces and bgp needs to be configured as the below (example with two GCP VPN Gateways as per HA VPN standards now - just 1 tunnel configuration shown):

```resource "google_compute_router_interface" "ri1" {
  name       = "my-router-interface-1"
  router     = var.router1
  region     = var.region
  ip_range   = "169.254.0.9/30" <---- this will be the GCP IP address for this side of the BGP
  vpn_tunnel = var.vpn_tunnel
}

resource "google_compute_router_peer" "bgp1" {
  name                      = "my-bgp-peer1"
  router                    = var.router1
  region                    = var.region
  peer_asn                  = var.peer_asn
  peer_ip_address           = "169.254.0.10"
  advertised_route_priority = 100
  interface                 = google_compute_router_interface.ri1.name
}

---

resource "google_compute_router_interface" "ri2" {
  name       = "my-router-interface-2"
  router     = var.router2
  region     = var.region
  ip_range   = "169.254.0.10/30" <---- this will be the GCP IP address for this side of the BGP
  vpn_tunnel = var.vpn_tunnel
}

resource "google_compute_router_peer" "bgp2" {
  name                      = "my-bgp-peer2"
  router                    = var.router2
  region                    = var.region
  peer_asn                  = var.peer_asn
  peer_ip_address           = "169.254.0.9"
  advertised_route_priority = 100
  interface                 = google_compute_router_interface.ri2.name
}
```

So basically, to provide the router the correct IP for its interface, you must set the `ip_range` as you would like the interface to be addressed - then on the bgp resource you simply write the "other router" interface address.

Both ranges 169.254.0.9/30 and 169.254.0.10/30 belongs to the "real" range which is 169.254.0.8/30, but since you cannot use .0.8 as BGP IP address, by setting up the range with the IP you wish to attach to your interface, it works 🤷‍♂️ 

Hi @benv666!

Could you please confirm if you are trying to set [ip_address](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_peer#ip_address) as this link or just the [peer_ip_address](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_peer#peer_ip_address) as this other link?

And if you are getting an error message share it with us to understand what is happening

Marking this as a feature request, to have the API select an available ip address only, although I don't know how feasible that would be. It's possible that the workaround shared above is the best we can offer (which looks to align with what the console does).

I'm kind of surprise this is a "enhancement" and not classified as a "bug".

When you are using a network the first IP of the pool in the network subnet and must not be used as host IP  as all host bit are set to 0 and should be treated as "unspecified". (See RFC 922 section 7)
The only accepted exception is when we are using a /31 mask as there is only 2 IP address inside and this particular car should only be used for a link interface.

This issue makes google BGP routers provisionned by this terraform provider incompatible with many devices which apply the RFC above leaving no choice to people to not use it and manage tunnel outside of terraform (using the google cloud console to setup correctly).